@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

.wrap {
  margin: 0 auto;
  margin-top: -25px;
}
ul.tabs {
	width: 300px;
	height: 80px;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
  padding: 0;
}
ul.tabs li {	
	float: left;
	/* width: 100px; removed for beta launch */
	width: 50%;

  
}
#tabs li a.inactive{
    padding-top:5px;
    padding-bottom:8px;
  padding-left: 8px;
  padding-right: 8px;
    color:#666666;
    background: #EEE;
   outline:none;
   border-bottom: solid 1px #CCC;

}

ul.tabs li a {
	position: relative;
	display: block;
	height: 50px;
	margin-top: 40px;
	padding: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;	
	text-decoration: none;
	color: #000;
	background: #dce6ed;
	-webkit-box-shadow: 1px 9px 25px 2px rgba(0,0,0,0.4);
	   -moz-box-shadow: 1px 9px 25px 2px rgba(0,0,0,0.4);
	        box-shadow: 1px 9px 25px 2px rgba(0,0,0,0.4);
	        	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
       -moz-transition: padding 0.2s ease, margin 0.2s ease;
         -o-transition: padding 0.2s ease, margin 0.2s ease;
        -ms-transition: padding 0.2s ease, margin 0.2s ease;
            transition: padding 0.2s ease, margin 0.2s ease;
}
.tabs li:first-child a {
	z-index: 3;
  -webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;
border-top-left-radius: 8px;
}
.tabs li:nth-child(2) a {
	z-index: 2;
}
.tabs li:last-child a {
	z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	   -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	        box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 8px;
-moz-border-radius-topright: 8px;
border-top-right-radius: 8px;
}
ul.tabs li a:hover {
	margin: 35px 0 0 0;
	padding: 10px 0 5px 0;
}
ul.tabs li a.active {
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
	color: #000;
	/*color: #ff6831;*/
	z-index: 4;
	outline: none;
}
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.group:after {
    clear: both;
}
#content {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  -webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}

#one {
  
}
#two {
  
}
#three {
  
}

/* side menu*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);


/* PEN STYLES ========== */
a,
.side_menu {
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* MENU CONTAINER ----- */
	.menu_title	{
		color: #fff;
		padding-left: 30px;
	}
	.side_menu {
		height: 100vh;
		left: -300px;
		position: fixed;
		top: 0;
		min-width: 300px;
		background-image: linear-gradient(to top, #002f74, #234585, #3b5b95, #5472a5, #6d8ab5);
		
	}
	.side-drop{
		z-index: 1000;
	}
	.side_menu .container {
		padding-left: 0px;
		width: 300px;
	}

/* HAMBURGER STYLES ----- */
	.burger_box {
		display: block;
		float: right;
		margin-right: -45px;
	}
	.burger_box a.menu-icon {
		position: absolute;
	    background-color: #3F51B5;
	    cursor: pointer;
	    height: 50px;
	    padding: 0;
	    margin: 0;
	    bottom: 40px;
	    border-radius: 100%;
	    width: 50px;
	    box-shadow: 0 0px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.40);
	    z-index: 100;
	}
	@media screen and (max-width: 400px) {
    .burger_box a.menu-icon {
	    position: absolute;
	    background-color: #3F51B5;
	    padding: 0;
	    margin: 0;
	    bottom: 40px;
	    border-radius: 100%;
	    box-shadow: 0 0px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.40);
	    height: 50px;
	    width: 50px;
	    left: 300px;
    	}
		.side_menu {
	    background-color: rgb(7, 71, 166);
	    height: 100vh;
	    left: -300px;
	    position: fixed;
	    top: 0;
	    width: 200px;
	    z-index: 1000;
		}
	ul.tabs {
	    height: 80px;
	    list-style: none;
	    overflow: hidden;
	    padding: 0;
		}
	ul.tabs li {
	    float: left;
	    width: 65px;
		}
		#content {
	    width: 200px;
	    height: 350px;
	    margin-left: 0px;
	    -webkit-border-bottom-right-radius: 8px;
	    -webkit-border-bottom-left-radius: 8px;
	    -moz-border-radius-bottomright: 8px;
	    -moz-border-radius-bottomleft: 8px;
	    border-bottom-right-radius: 8px;
	    border-bottom-left-radius: 8px;
		}
	}
	.burger_box a.menu-icon:hover,
	.burger_box a.menu-icon.opened {
		opacity: 1;
	}
	.burger_box a.menu-icon.opened {
		background: rgb(7, 71, 166);
	}
	.burger_box .menu-icon_box {
		display: block;
    	height: 3px;
    	position: absolute;
    	text-align: left;
    	width: 25px;
    	top: 25%;
    	left: 25%;
	}
	.burger_box .menu-icon_line {
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 100%;
	}

	.ubuxalogo {
		margin-left: -7px;
		margin-top: -5px;
		border-right-style: solid;
		cursor: pointer;
	}

	.burger_box .menu-icon_line--1 {
		top: 2px;
	}
	.burger_box .menu-icon_line--2 {
		top: 10px;
	}
	.burger_box .menu-icon_line--3 {
		top: 18px;
	}
	.burger_box .menu-icon_line--1 {
		transition: top 200ms 250ms, transform 200ms;
		-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon_line--2 {
		transition: opacity 0ms 300ms;
		-webkit-transition: opacity 0ms 300ms;
	}
	.burger_box .menu-icon_line--3 {
		transition: top 100ms 300ms, transform 200ms;
		-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_box {
		transform: scale3d(0.9, 0.9, 0.9);
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	.burger_box .menu-icon.opened .menu-icon_line {
		top: 10px;
	}
	.burger_box .menu-icon.opened .menu-icon_line--1 {
		transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transition: top 100ms, transform 200ms 250ms;
		-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--2 {
		opacity: 0;
		transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--3 {
		transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transition: top 200ms, transform 200ms 250ms;
		-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
	}

/* STAGGER LIST ----- */
	.list_load {
		padding: 0;
		font-size: 16px;
		margin-top: 25px;
	}
	.list_item {
		margin-left: -20px;
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		text-decoration: none;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
	}
	.side-images{
        width:65px;
        height:65px;
        background-repeat: no-repeat;
 		background-size: cover;
        border-radius: 50%;
        margin-left: 15px;
    	margin-top: 5px;
    	display: inline-block;
    }
    
    .side-images:hover{
        cursor: pointer;
    }
    .client-name {
    	display: inline-block;
    	position: absolute;
    	top: 20px;
    	margin-left: 10px;
    }
    .top-sidebar{
    	position: relative;
    }
    .profile-link{
    	color: #fff;
    }
    .first-name {
    	color: #fff;
    	font-family: calibri;
    	font-size: 21px;
    	text-transform: capitalize;
    }
    .menu-settings{
    	cursor: pointer;
	    display: block;
	    padding: 0px 0px 0px 42px;
	    font-size: 14px;
	    font-weight: 700;
	    border-bottom: 1px solid #aba6a6;
	    position: relative;
	    -webkit-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	    border-radius: 3px;
	    padding-bottom: 15px;
	    padding-top: 15px;
	}
	.menu-list{
		color: #fff;
	}
	  @import url(https://fonts.googleapis.com/css?family=Roboto);



.beacon-wrapper {
     width: 75px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: -6px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: -107px;
}

.signal {
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.beacon--epicentre {
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 12px;
  height: 12px;
}

.signal--wave {
  top: calc(30% - 20px);
  left: calc(30% - 20px);
  width: 70px;
  height: 70px;
  border: 1px solid rgba(74, 180, 240, 0.12);
  opacity: 0;
  background-color: rgba(20, 106, 154, 0.24);
  -webkit-animation-name: signal;
          animation-name: signal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.signal--delay {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes signal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes signal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
.u--dib {
  display: inline-block;
}
	
